/* ── RESET ── */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ── BODY ── */
body {
  line-height: normal;
  background-color: #f9f4f0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #7c6e52;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}